﻿
<base href="/" />
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="../AngularJs/MainScript.js"></script>



<html ng-app="HomeModule" >
<body>
    <main ng-view=""></main>
</body>
</html>